   body{
font-family: sans-serif;
background:  no-repeat center/125% url('image/champions_league.jpg');
color: green;
} 

 .rm-shield {
z-index: 1;
background-image: url('image/rm-shield.gif');
background-size: cover;
height: 300px;
width: 225px;

}  


.Transfer{
margin: 0 auto;
}

.window{
  background-color: #0E1E5B;
  border: 3px solid #6594C0;
  margin-left: 600px;
  margin-right: 660px;
  text-align:center;
}
.barca{
  margin-left: 1300px;
  background-color: #0E1E5B;
  border: 3px solid red;



}

.madrid{
  margin-right: 1300px;
  background-color: white;
  border: 3px solid gold;


}